{% extends "base.html" %}
{% block content %}
<div class="main">
    <h1> Surgery types</h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for surgery_type in surgery_type_list %}
                <tr class="clickable-row" data-href="/surgery_type/{{ surgery_type.pk }}">
                    <td>{{ surgery_type.pk }}</td>
                    <td>{{ surgery_type.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="action-buttons">
    <a href="/surgery_type/create">
        <button type="button" class="btn btn-primary">New</button>
    </a>
</div>
{% endblock %}