{% extends "base.html" %}
{% block content %}
<div class="main">
    <h1>Surgeries</h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Patient ID</th>
                <th>Surgery type ID</th>
                <th>General Surgeon ID</th>
                <th>Co-Surgeon ID</th>
                <th>Assistant Surgeon ID</th>
                <th>Inventory ID</th>
            </tr>
        </thead>
        <tbody>
            {% for surgery in surgery_list %}
                <tr class="clickable-row" data-href="/surgery/{{ surgery.pk }}">
                    <td>{{ surgery.pk }}</td>
                    <td>{{ surgery.surgery_date }}</td>
                    <td>{{ surgery.patient_pk }}</td>
                    <td>{{ surgery.surgery_type_pk }}</td>
                    <td>{{ surgery.general_surgeon_pk }}</td>
                    <td>{{ surgery.co_surgeon_pk }}</td>
                    <td>{{ surgery.assistant_surgeon_pk }}</td>
                    <td>{{ surgery.inventory_pk }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="action-buttons">
    <a href="/surgery/create">
        <button type="button" class="btn btn-primary">New</button>
    </a>
</div>
{% endblock %}