{% extends "base.html" %}
{% block content %}
<div class="main">
    <h1>Surgery create</h1>
</div>

<form class="form-horizontal" method="POST" action="/surgery/create">
    <div class="form-group">
        <label for="pk" class="col-sm-1 control-label">ID:</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="pk">
        </div>
    </div>
    <div class="form-group">
        <label for="surgery_date" class="col-sm-1 control-label">Date:</label>
        <div class="col-sm-10">
            <input class="form-control" type="date" name="surgery_date">
        </div>
    </div>
    <div class="form-group">
        <label for="patient_pk" class="col-sm-1 control-label">Patient ID:</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="patient_pk">
        </div>
    </div>
    <div class="form-group">
        <label for="employee_pk" class="col-sm-1 control-label">Employee ID:</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="employee_pk">
        </div>
    </div>
    <div class="form-group">
        <label for="surgery_type_pk" class="col-sm-1 control-label">Surgery Type ID:</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="surgery_type_pk">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </div>
</form>
{% endblock %}