{% extends "base.html" %}
{% block content %}
<div class="main">
    <h1>Surgery "{{ surgery.pk }}" edit</h1>
</div>

<form class="form-horizontal" method="POST" action="/surgery/{{ surgery.pk }}/edit">
    <div class="form-group">
        <label for="pk" class="col-sm-1 control-label">ID:</label>
        <div class="col-sm-10">
            <p class="form-control-static" type="text" name="pk">{{ surgery.pk }}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-1 control-label">Date:</label>
        <div class="col-sm-10">
            <input class="form-control" type="date" name="surgery_date" value="{{ surgery.surgery_date }}">
        </div>
    </div>
    <div class="form-group">
        <label for="patient_pk" class="col-sm-1 control-label">Patient ID:</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="patient_pk" value="{{ surgery.patient_pk }}">
        </div>
    </div>
    <div class="form-group">
        <label for="surgery_type_pk" class="col-sm-1 control-label">Surgery Type ID:</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="surgery_type_pk" value="{{ surgery.surgery_type_pk }}">
        </div>
    </div>
    <div class="form-group">
        <label for="general_surgeon_pk" class="col-sm-1 control-label">General Surgeon ID:</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="general_surgeon_pk" value="{{ surgery.general_surgeon_pk }}">
        </div>
    </div>
    <div class="form-group">
        <label for="co_surgeon_pk" class="col-sm-1 control-label">Co-Surgeon ID:</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="co_surgeon_pk" value="{{ surgery.co_surgeon_pk }}">
        </div>
    </div>
    <div class="form-group">
        <label for="assistant_surgeon_pk" class="col-sm-1 control-label">Assistant Surgeon ID:</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="assistant_surgeon_pk" value="{{ surgery.assistant_surgeon_pk }}">
        </div>
    </div>
    <div class="form-group">
        <label for="inventory_pk" class="col-sm-1 control-label">Inventory ID:</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" name="inventory_pk" value="{{ surgery.inventory_pk }}">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </div>
</form>
{% endblock %}